.product {
  /* flex: 0.24; */
  width: 24%;
  box-shadow: 1px 2px 4px gray;
  border-radius: 5px;
  overflow: hidden;
}
* {
  text-align: center;
}
.product:last-child {
  margin-left: 1.3%;
  margin-right: auto;
}
.product:nth-child(4) ~ .product {
  margin-top: 1.3%;
}
.image img {
  max-width: 100%;
}
.shortDescription {
  margin: 0.6rem 0;
  height: 8rem;
}
.productName {
  margin-top: 0.8rem;
  font-size: 1.3rem;
  font-weight: bold;
  height: 3rem;
}
.bold {
  font-weight: bold;
}
.buttonList {
  margin: 1rem 0;
  text-align: center;
}

.buttonList button ~ button {
  margin-left: 0.5rem;
}
