.buttonWrapper {
  margin: 1rem 0;
}
.buttonWrapper button {
  padding: 0.5rem 1rem;
  border-radius: 5px;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
  text-transform: uppercase;
  transition: 0.3s;
  background: limegreen;
  color: white;
}
.buttonWrapper button:hover {
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
}
